@import base

html
  background: $blueprint-background-color

h1, h2, h3, h4, h5, h6
  font-family: $header-font

body.bp
  +blueprint(true)

#container
  +container

#header
  +column(12, true)
  h1
    font-size: 4em
    color: $mycolor
    font-family: $logo_font, $header-font
    padding: 0 .2em
    text-align: left
    line-height: 1.2em
    margin: .5em 0 0

ul#navigation
  +column(12, true)
  list-style-type: none
  margin: 3em 0 0
  padding: 0
  li
    text-align: center
    margin: 0
    &.last
      +last
    a
      +pretty-button

#container ul.flashes
  margin: 0
  padding: 0
  +column(12, true)
  list-style-type: none

  li
    +border-radius

#content
  +column(12, true)
  .section
    $spacing: 1em
    h2
      margin-bottom: 0
    .content
      background: lighten($blueprint-border-color, 20%)
      border: 1px dashed $blueprint-border-color
      margin: 0 0 $spacing
      padding: $spacing
      p
        margin: 0

#footer
  font-family: $header-font
  text-align: center

input
  display: block

input[type="submit"]
  +pretty-button
