@import base

html
  background: $blueprint-background-color
  font-size: 20px

h1, h2, h3, h4, h5, h6
  font-family: $header-font

body.bp
  +blueprint(true)

#container
  +container
  overflow: visible

#header
  +column(18, true)
  h1
    font-size: 3.7em
    color: $mycolor
    font-family: $blueprint-fixed-font-family
    text-align: left
    line-height: 1em
    margin: .5em 0 .15em
    a
      text-decoration: none

      &:hover
        color: darken($mycolor, 10%)

  ul#navigation
    margin: 0
    padding: 0
    font-family: $header-font
    font-weight: bold
    color: darken($blueprint-background-color, 10%)
    li
      margin: 0 .4em
      +float-left
      &.last
        +last
      &:before
        content: '['
      &:after
        content: ']'
      a
        margin: 0 1em
        font-size: 1em
        text-decoration: none
        color: lighten($button_text_color, 20%)
        &:hover
          text-decoration: underline

#container ul.flashes
  margin: 0
  padding: 0
  +column(18, true)
  list-style-type: none
  font-family: $header-font

  li
    margin: .5em 0 0
    padding: .4em
    +border-radius

#content
  +column(18, true)
  .section
    $spacing: 1em
    h2
      margin-bottom: 0
    .content
      //background: lighten($blueprint-background-color, 5%)
      +clearfix
      border: 4px dashed $blueprint-border-color
      margin: 0 0 $spacing
      padding: $spacing
      p
        margin: 0

#footer
  font-family: $header-font
  text-align: center

body.bp #container
  input
    display: block
    border: none

  input[type="submit"]
    +pretty-button
    +float-right
    margin: .1em 0

  input[type="text"], input[type="password"], input[type="email"], textarea
    +inset-field()

  .main-search 
    +column(18, true)
    margin: 0 0 .4em

    .searchbar
      +column(14)
    input
      font-size: 1.6em
      line-height: 1em
      &#search
        display: inline
        padding: .4em (1.5 * $blueprint-grid-margin)
        width: span(14) - (3 * $blueprint-grid-margin)
        margin: 0
        list-style-type: none
      &[type="submit"]
        padding: .4em (1.5 * $blueprint-grid-margin)
        +column(4, true)
      &:focus
        outline: none
