@import base

html
  background: $blueprint-background-color
  font-size: 20px

h1, h2, h3, h4, h5, h6
  font-family: $header-font

body.bp
  +blueprint(true)

#container
  +container
  overflow: visible

#header
  +column(18, true)
  h1
    font-size: 3.7em
    color: $mycolor
    font-family: $blueprint-fixed-font-family
    text-align: left
    line-height: 1em
    margin: .5em 0 .15em
    a
      text-decoration: none

      &:hover
        color: darken($mycolor, 10%)

  ul#navigation
    margin: 0
    padding: 0
    font-family: $header-font
    font-weight: bold
    color: $mycolor
    li
      margin: 0 .4em
      +float-left
      &.last
        +last
      &:before
        content: '[ '
      &:after
        content: ' ]'
      a
        text-decoration: none
        color: lighten($button_text_color, 20%)
        &:hover
          text-decoration: underline

#container ul.flashes
  margin: 0
  padding: 0
  +column(18, true)
  list-style-type: none
  font-family: $header-font

  li
    margin: .5em 0 0
    padding: .4em
    +border-radius

#content
  +column(18, true)
  .section
    $spacing: 1em
    h2
      margin-bottom: 0
    .content
      //background: lighten($blueprint-background-color, 5%)
      +clearfix
      border: 4px dashed $blueprint-border-color
      margin: 0 0 $spacing
      padding: $spacing
      p
        margin: 0

#footer
  font-family: $header-font
  text-align: center

input
  display: block

input[type="submit"]
  +pretty-button
  +float-right
  margin: .1em 0

.main-search 
  +column(18, true)

  .searchbar
    position: relative
    text-align: center
  input
    font-size: 1.6em
    line-height: 1em
    &#search
      display: inline
      width: 85%
      margin: 0
      $nav_color: darken($blueprint-border-color, 60%)
      $navrad: .2em
      padding: .6em .8em
      color: #f9f9f9
      border: $navrad solid lighten($nav_color, 20%)
      background-color: $nav_color
      list-style-type: none
      +box-shadow(0 0 4em lighten($nav_color, 30%), inset 0 0 1em darken($nav_color, 20%))
      +border-radius($navrad * 2)
      font-family: $blueprint-fixed-font-family
      font-weight: bold
    &[type="submit"]
      margin: .4em 2em 0 0
    &:focus
      outline: none
