Flask==0.8
Flask-Gravatar==0.2.2
Flask-SQLAlchemy==0.15
Flask-Silk==0.1.1
GnuPGInterface==0.3.2
Jinja2==2.6
Mirage==0.9.5.1
PAM==0.4.2
PIL==1.1.7
SQLAlchemy==0.7.3
Sonata==1.6.2.1
Twisted-Core==11.0.0
Twisted-Web==11.0.0
UniConvertor==1.1.4
Werkzeug==0.8.1
apt-xapian-index==0.44
apturl==0.5.1ubuntu1
arandr==0.1.4
chardet==2.0.1
command-not-found==0.2.44
configobj==4.7.2
defer==1.0.2
deluge==1.3.3
distribute==0.6.24
gdata==2.0.14
gnome-app-install==0.4.7-nmu1ubuntu2
googlecl==0.9.13
httplib2==0.7.1
jockey==0.9.4
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
lxml==2.3
mercurial==1.9.1
numpy==1.5.1
nvidia-common==0.0.0
oauth==1.0.1
onboard==0.95.1
oneconf==0.2.6.7
pexpect==2.3
piston-mini-client==0.6
pyOpenSSL==0.12
pycrypto==2.3
pycups==1.9.59
pycurl==7.19.0
pygame==1.9.1release
pyserial==2.5
pysmbc==1.0.10
python-apt==0.8.0ubuntu9
python-debian==0.1.20ubuntu2
python-libtorrent==0.15.7
python-mpd==0.3.0
python-virtkey==0.60.0
pyxdg==0.19
reportlab==2.5
sessioninstaller==0.0.0
simplejson==2.1.6
system-service==0.1.6
tagpy==0.94.8
ubuntu-sso-client==1.4.0
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
usb-creator==0.2.23
virtualenv==1.6.4
wadllib==1.2.0
wsgiref==0.1.2
xkit==0.0.0
zope.interface==3.6.1
